body {
  background-color: black;
  color: white;
  font-family: Arial;
}
.rps-title {
  font-size:30px;
  font-weight: bold;
}
.rps-button{
  background-color: transparent;
  border: none;
}
.rps-image{
  height: 50px;
  border: 3px solid white;
  border-radius: 60px;
  padding: 30px;
  cursor: pointer;
}
.result-message {
  font-size:30px;
  font-weight: bold;
}
.small-img {
  height: 30px;
}
.reset-button, .autoplay-button {
  font-size: 15px;
  padding: 10px 15px;
  background: white;
  cursor: pointer;
  border: none;
}