button {
  border: none;
  padding: 10px 10px;
  color: white;
  width: 100px;
  font-size: medium
}

input {
  padding: 10px;
}

.add-button {
  background-color: green;
}

.delete-button {
  background-color: red;
}

.todo-grid, 
.todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.todo-grid{
  align-items: stretch;
}